/*
Theme Name: WSU Innovators
Theme URI: https://web.wsu.edu/
Author: WSU University Communications
Author URI: https://web.wsu.edu/
Description: A child theme of the WSU Web Communications Spine template.
Template: spine
Version: 0.1.3
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
* {
	box-sizing: border-box;
}
html {
	min-height:100%;
}
html main {
	background-color:#fff;
	color:#4a4a4a;
	max-width:990px;
	min-height:100%;
}
/**************************************
	Typography
**************************************/
html main p {
	padding-bottom:2em;
}
html main p,
html main ol li,
html main ul li {
	font-size:1.1rem;
	line-height: 1.5;
}
html main blockquote {
	font: inherit;
	padding:0;
	color:rgba(0,165,189,1);
	margin:2em 0;
}
html main blockquote:before {
	content:'\201C';
	font-size:5rem;
	display:block;
	position:absolute;
	left:25px;
	width:10px;
	height:10px;
}
html main blockquote p {
	font-size:1.6rem;
	padding-bottom:0;
}
html main blockquote cite {
	font-style: italic;
	font-size:1.1rem;
}
html main ol,
html main ul {
	padding-left:4rem;
	padding-bottom:2em;
}
html main h1 {
	font-weight:400;
	font-size:3rem;
}
html main h2 {
	font-weight:500;
	padding-bottom:1.5rem;
}
html main h4 {
	color:#fff;
	background-color:#000;
}
p + hr {
	margin-top:1.5em;
}
hr + h2 {
	padding-top:2rem;
}
html main h3 {
	padding-top: 1.5em;
    padding-bottom: .8em;
}
/**************************************
	Utilities
**************************************/
hr {
	border: 0;
    height: 2px;
    background: #4a4a4a;
    margin-top:3em;
    margin-left:auto;
    margin-right:auto;
}
span.embed-youtube {
	float: right;
    width: 70%;
    margin: .5rem -25% 1rem 2rem;
}
span.embed-youtube iframe {
	width:420px;
	height: 240px;
}
.ytp-chrome-top {
	display:none !important;
}
/**************************************
	Logo
**************************************/
html main .logo-wrap {
	width:100%;
	margin-bottom:5rem;

}
html main .logo-wrap #logo {
	width:350px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
html body.blog main .logo-wrap {
	margin-bottom:2rem;
}
/**************************************
	Single post
**************************************/
body.single-post .featured-image {
	width:360px;
	height:226px;
	background-size: initial;
	margin-left: auto;
    margin-right: auto;
}
body.single-post .row .column.two {
	display:none;
}
body.single-post .row .column,
body.single-post footer {
	float:none;
	margin-left: auto;
	margin-right: auto;
}
body.single-post .column article header.article-header hgroup h1.article-title {
	padding: 0 .8em .6em 0;
	border-bottom:4px solid #4a4a4a;
	margin-bottom:.4em;
	text-align: center;
}
body.single-post .source {
	margin-bottom:3rem;
	font-size:1em;
}
body.single-post aside {
	padding:2em 1em;
}

body.single-post footer.main-footer {
	width:68%;
	font-size:1.2em;
}
body.single-post footer.main-footer .column {
	padding-top:0;
	text-align: center;
}
body.single-post a.previous {
	font-size:1.4em;
	background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #4a4a4a;
    border-radius: 0;
    color: #464e54;
    display: inline-block;
    text-decoration: none;
    margin-top:2em;
    margin-bottom: 2em;
    line-height: normal;
    padding: .5em 1em;
    vertical-align: middle;
    cursor: pointer;
}
body.single-post a.previous:hover {
	color: #fff;
    background: #981E32;
    border:1px solid #981E32;
    transition:background .8s;
    cursor: pointer;
}
/**************************************
	Page
**************************************/
body.page .featured-image {
	width:360px;
	height:222px;
	background-size: initial;
	margin-left: auto;
    margin-right: auto;
}
body.page .row .column.two {
	display:none;
}
body.page .row .column,
body.page footer {
	float:none;
	margin-left: auto;
	margin-right: auto;
}
/**************************************
	Register Page
**************************************/
body.page-register h1 + h2 {
	padding-top:0;
}
body.page-register h3 {
	margin-top:3rem;
}

body.page-register p + h3 {
	margin-top:0;
}
body.page-register hr {
	margin-top:1rem;
}
body.page-register .gform_wrapper form div.gform_body ul.gform_fields li.gfield {
	padding-bottom:1rem;
}
body.page-register .gform_wrapper form div.gform_body ul.gform_fields li label.gfield_label {
	font-size: 1.5rem;
	font-weight:400;
}
body.page-register .gform_wrapper form div.gform_body ul.gform_fields li div.ginput_container span.name_prefix {
	width:100%;
}
div.ginput_complex.ginput_container.gf_name_has_3 span {
	width:50%;
}
body.page-register .gform_wrapper form div.gform_body input,
body.page-register .gform_wrapper form div.gform_body select {
	height:47px;
	font-size:1.5rem;
}
body .gform_wrapper label.gfield_label + div.ginput_container {
	color:#23282B;
	padding-bottom:1.5em;
}
.gform_wrapper .ginput_complex label {
	margin:0 0 2em 0;
}
.gform_wrapper .gform_footer {
	margin-top:0;
	padding-top:0;
}
.gform_wrapper .gform_footer input[type=submit] {
	float: right;
	clear:both;
	margin-bottom:2rem;
}
main input[type=text], 
main input[type=password], 
main input[type=email], 
main select,
main textarea {
	border-radius: 0px;
	color:#23282B;
}
main input[type=text]:active, 
main input[type=password]:active, 
main input[type=email]:active, 
main select:active,
main textarea:active,
main input[type=text]:focus, 
main input[type=password]:focus, 
main input[type=email]:focus, 
main select:focus,
main textarea:focus {
	border:1px solid rgba(0,165,189,1);
}
.gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=submit] {
	font-size:1.4em;
	background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #4a4a4a;
    border-radius: 0;
    color: #464e54;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2em;
    line-height: normal;
    padding: .5em 1em;
    vertical-align: middle;
}    
.gform_wrapper .gform_footer input.button:hover, 
.gform_wrapper .gform_footer input[type=submit]:hover {
	color: #fff;
    background: #981E32;
    border:1px solid #981E32;
    transition:background .8s;
}
/**************************************
	Archive feed
**************************************/
body.blog .fluid .row.single.flex .column.one {
	display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
  /* TWEENER - IE 10 */
	display: -webkit-flex;
  /* NEW - Chrome */
	flex-flow: row wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	width:100%;
}
body.blog .fluid .row.single.flex .column.one article {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 48%;
	width:420px;
	padding:2em;
	margin-bottom:3em;
	vertical-align: middle;
}
body.blog h2 {
	padding: 0 .6em .6em 0;
	border-bottom:2px solid #4a4a4a;
	margin-bottom:.4em;
}
body.blog h2 a {
	color:#4a4a4a;
}
body.blog hgroup.source {
	padding-bottom:2em;
}
body.blog .more-link,
body.blog span.more-default {
	display:none;
}
body.blog figure.article-thumbnail {
	float:none;
	width:100%;
	margin:0 0 1em 0;
	height: 226px;
}
body.blog footer.archive-footer {
	padding:2em 0;
	text-align: center;
	font-size:1.2em;
}
body.blog footer.archive-footer .row.side-right .column.one {
	width:100%;
}
/**************************************
	Random colors
**************************************/
.ten1,
.ten3 {
	    background: rgb(0, 165, 189);
    background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(20%, rgba(0, 165, 189, 1)), color-stop(100%, rgba(185, 192, 10, 1)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 165, 189, 1) 20%, rgba(185, 192, 10, 1) 100%);
    background-image: linear-gradient(to top, rgba(0, 165, 189, 1) 20%, rgba(185, 192, 10, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00a5bd', endColorstr='#b9c00a', GradientType=1);
    background-attachment: fixed;
}
.ten2,
.ten4 {
	    background: #fb5272;
    background: -moz-linear-gradient(bottom, #fb5272 20%, #f8be01 100%);
    background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(20%, #fb5272), color-stop(100%, #f8be01));
    background-image: -webkit-linear-gradient(bottom, #fb5272 20%, #f8be01 100%);
    background-image: linear-gradient(to top, #fb5272 20%, #f8be01 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb5272', endColorstr='#f8be01', GradientType=1);
    background-attachment: fixed;
}
.ten5,
.ten7 {
	background: #ff5b35;
    background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(10%, #ff5b35), color-stop(100%, #7aa1c5));
    background-image: -webkit-linear-gradient(bottom, #ff5b35 10%, #7aa1c5 100%);
    background-image:linear-gradient(to top, #ff5b35 10%, #7aa1c5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5b35', endColorstr='#7aa1c5', GradientType=1);
    background-attachment: fixed;
}
.ten6,
.ten8 {
	    background: #b9c00a;
    background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(20%, #b9c00a), color-stop(100%, #ff5b35));
    background-image: -webkit-linear-gradient(bottom, #b9c00a 20%, #ff5b35 100%);
    background-image: linear-gradient(to top, #b9c00a 20%, #ff5b35 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b9c00a', endColorstr='#ff5b35', GradientType=1);
    background-attachment: fixed;
}
.ten9,
.ten10 {
	background: #03c3b2;
    background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(21%, #03c3b2), color-stop(100%, #fb5272));
    background-image: -webkit-linear-gradient(bottom, #03c3b2 21%, #fb5272 100%);
    background-image: linear-gradient(to top, #03c3b2 21%, #fb5272 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#03c3b2', endColorstr='#fb5272', GradientType=1);
    background-attachment: fixed;
}
/**************************************
	Media queries
**************************************/

@media screen and (min-width: 791px) and (max-width: 990px) {
	.fluid .row.side-right .column.one {
		width:100%;
	}
	span.embed-youtube {
		float:none;
	}
	html main .logo-wrap #logo { 
		width:40%;
	}
	body.blog .spacing-loose .single.gutter .column:not(.gutterless) {
		padding-left:1em;
		padding-right:1em;
	}
	body.blog figure.article-thumbnail {
		height:180px;
	}
}
@media screen and (min-width: 491px) and (max-width: 790px) {
	.fluid .row.side-right .column.one {
		width:100%;
	}
	span.embed-youtube {
		float:none;
	}
	html main .logo-wrap #logo { 
		width:50%;
	}
	.spacing-loose .single.gutter .column:not(.gutterless) {
		padding-left:1em;
		padding-right:1em;
	}
	body.blog figure.article-thumbnail {
		height:inherit;
	}
}
@media screen and (max-width: 490px) {
	html main blockquote:before {
		color:rgba(0,165,189,.2);
		position: relative;
		top:18px;
		left:-10px;
	}
	.fluid .row.side-right .column.one {
		width:100%;
		padding-left:1em;
	}
	.spacing-loose .side-right.gutter .column.one:not(.gutterless) {
		padding-right:1em;
	}
	.spacing-loose .single.gutter .column:not(.gutterless) {
		padding-left:1em;
		padding-right:1em;
	}
	span.embed-youtube {
		display: initial !important;
		float:none;
		width:490px;
		margin-left:0;
		text-align: center;
	}
	span.embed-youtube iframe {
		width:390px;
	}
	html main .logo-wrap #logo { 
		width:70%;
	}
	body.blog .fluid .row.single.flex .column.one { 
		display:block;
	}
	body.blog .fluid .row.single.flex .column.one article {
		padding-left:0;
		width:380px;
	}
	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
	.gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span {
			width:100%;
	}
	div.ginput_container_name span {
		padding:0;
	}
	.gform_wrapper .gform_footer input[type=submit] {
		float:none;
		width:100%;
	}
}
@media screen and (max-width: 790px) {
	#jacket {
		margin-top:6px;
	}
	span.embed-youtube {
		margin-left:0;
	}
	.ten1,
	.ten3 {
	    background: rgb(0, 165, 189);
    	background-image: -webkit-gradient(linear, left right, left right, color-stop(20%, rgba(0, 165, 189, 1)), color-stop(100%, rgba(185, 192, 10, 1)));
    	background-image: -webkit-linear-gradient(left, rgba(0, 165, 189, 1) 20%, rgba(185, 192, 10, 1) 100%);
    	background-image: linear-gradient(to right, rgba(0, 165, 189, 1) 20%, rgba(185, 192, 10, 1) 100%);
	    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00a5bd', endColorstr='#b9c00a', GradientType=1);
	    background-attachment: fixed;
	}
	.ten2,
	.ten4 {
		background: #fb5272;
    	background: -moz-linear-gradient(left, #fb5272 20%, #f8be01 100%);
    	background-image: -webkit-gradient(linear, left right, left right, color-stop(20%, #fb5272), color-stop(100%, #f8be01));
    	background-image: -webkit-linear-gradient(left, #fb5272 20%, #f8be01 100%);
    	background-image: linear-gradient(to right, #fb5272 20%, #f8be01 100%);
    	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb5272', endColorstr='#f8be01', GradientType=1);
    	background-attachment: fixed;
	}
	.ten5,
	.ten7 {
		background: #ff5b35;
    	background-image: -webkit-gradient(linear, left right, left right, color-stop(10%, #ff5b35), color-stop(100%, #7aa1c5));
    	background-image: -webkit-linear-gradient(left, #ff5b35 10%, #7aa1c5 100%);
    	background-image:linear-gradient(to right, #ff5b35 10%, #7aa1c5 100%);
    	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5b35', endColorstr='#7aa1c5', GradientType=1);
    	background-attachment: fixed;
	}
	.ten6,
	.ten8 {
	    background: #b9c00a;
    	background-image: -webkit-gradient(linear, left right, left right, color-stop(20%, #b9c00a), color-stop(100%, #ff5b35));
    	background-image: -webkit-linear-gradient(left, #b9c00a 20%, #ff5b35 100%);
    	background-image: linear-gradient(to right, #b9c00a 20%, #ff5b35 100%);
    	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b9c00a', endColorstr='#ff5b35', GradientType=1);
	    background-attachment: fixed;
	}
	.ten9,
	.ten10 {
		background: #03c3b2;
	    background-image: -webkit-gradient(linear, left right, left right, color-stop(21%, #03c3b2), color-stop(100%, #fb5272));
	    background-image: -webkit-linear-gradient(left, #03c3b2 21%, #fb5272 100%);
    	background-image: linear-gradient(to right, #03c3b2 21%, #fb5272 100%);
    	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#03c3b2', endColorstr='#fb5272', GradientType=1);
    	background-attachment: fixed;
	}
}