/*
Theme Name: WSU Innovators
Theme URI: https://web.wsu.edu/
Author: WSU University Communications
Author URI: https://web.wsu.edu/
Description: A child theme of the WSU Web Communications Spine template.
Template: spine
Version: 0.1.3
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
* {
	box-sizing: border-box;
}
html {
	min-height:100%;
}
html main {
	background-color:#fff;
	color:#4a4a4a;
	max-width:990px;
	min-height:100%;
}
/**************************************
	Typography
**************************************/
html main p {
	font-size:1.1rem;
	line-height: 1.4;
}
html main h1 {
	font-weight:400;
	font-size:3rem;
}
html main h2 {
	font-weight:500;
	padding-bottom:1.5rem;
}
/**************************************
	Utilities
**************************************/
hr {
	border: 0;
    height: 2px;
    background: #4a4a4a;
    margin-top:3em;
    margin-left:auto;
    margin-right:auto;
}

/**************************************
	Logo
**************************************/
html main .logo-wrap {
	width:100%;
	margin-bottom:5rem;
}
html main .logo-wrap #logo {
	width:30%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/**************************************
	Single post
**************************************/
body.single-post .featured-image {
	width:360px;
	height:222px;
	background-size: initial;
	margin-left: auto;
    margin-right: auto;
}
body.single-post .row .column.two {
	display:none;
}
body.single-post .row .column,
body.single-post footer {
	float:none;
	margin-left: auto;
	margin-right: auto;
}
body.single-post .column article header.article-header hgroup h1.article-title {
	padding: 0 .8em .6em .8em;
	border-bottom:4px solid #4a4a4a;
	margin-bottom:.4em;
}
body.single-post .source {
	margin-bottom:3rem;
	padding-left:3.2em;
}
body.single-post aside {
	padding:2em 1em;
}
body.single-post figure.article-thumbnail {
	display:none;
}
body.single-post footer.main-footer {
	width:68%;
	font-size:1.2em;
}
body.single-post footer.main-footer .column {
	padding-top:0;
}
/**************************************
	Archive feed
**************************************/
body.blog .fluid .row.single.flex .column.one {
	display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
  /* TWEENER - IE 10 */
	display: -webkit-flex;
  /* NEW - Chrome */
	flex-flow: row wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	width:100%;
}
body.blog .fluid .row.single.flex .column.one article {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 48%;
	width:420px;
	padding:2em;
	margin-bottom:3em;
	vertical-align: middle;
}
body.blog h2 {
	padding: 0 .8em .6em .8em;
	border-bottom:2px solid #4a4a4a;
	margin-bottom:.4em;
}
body.blog hgroup.source {
	padding-bottom:2em;
	padding-left:2.2em;
}
body.blog .more-link,
body.blog span.more-default {
	display:none;
}
body.blog figure.article-thumbnail {
	float:none;
	width:100%;
	margin:0 0 1em 0;
	height: 222px;
}
body.blog footer.archive-footer {
	padding:2em 0;
	text-align: center;
	font-size:1.2em;
}
body.blog footer.archive-footer .row.side-right .column.one {
	width:100%;
}